body { 
    background-color: lightgray;
    text-align:center;
    font-family:monospace 
}
.img-container{
    width: 200px;
    height: 200px;
    text-align: center;
}
  img {
      display: block;
      position: relative;
      top: auto;
      bottom:auto;
  }