body { 
    background-color: lightgray;
    text-align:center;
}
.container{
        padding:2%;
        text-align: center;
}
    header{
        background: rgb(15, 63, 15);
    }
    nav {
    float: left;
    }
        nav ul{
    margin: -10px;
    padding: 0;
    list-style: none;
        }
        nav li{
    display: inline-block;
    margin-left: 20px;
        }
        nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
        }
        nav a:hover{
    color: whitesmoke;
        }
